#sidebar {
  width: 30vw;
  height: 100%;
  background-color: rgba(32, 32, 32);
  padding: 10px 0;
  display: flex;
  /* gap: 10px; */
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
}

#sidebar > div {
  width: 90%;
  margin-top: 10px;
}

.lg-box {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 1.5vw;
  color: white;
}

.logo {
  background-color: #00aba9;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.email {
  color: #919191;
  font-size: 16px;
}

.inp-box {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3e3e3e;
  border-bottom: none;
  border-radius: 10px;
  overflow: hidden;
}

.search {
  width: 100%;
  font-size: 16px;
  height: 100%;
  background-color: transparent;
  outline: none;
  padding-left: 5px;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 10px;
}

.data1-box {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 100;
}

.data {
  display: flex;
  align-items: center;
  padding-right: 20px;
  gap: 20px;
  padding: 8px 0px;
  cursor: pointer;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 15px;
  transition: background-color 0.2s;
  user-select: none;
  position: relative;
  overflow: hidden;
  margin: 2px 0;
}

.cover {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
}

.active-menu {
  background-color: rgb(51, 51, 51);
}

.data:hover {
  background-color: rgb(51, 51, 51);
}

.count {
  margin-left: auto;
}

hr {
  width: 90%;
  background-color: red;
  margin: 10px 0;
}

.data2-box {
  color: white;
  height: calc(42px * 8);
  overflow-y: scroll;
}

.group {
  margin-bottom: auto;
}

.list-btn {
  cursor: pointer;
}

.list-name {
  font-size: 16px;
  font-family: inherit;
  height: 100%;
  outline: none;
  background-color: transparent;
  color: inherit;
  border: none;
  width: 90%;
}

#context-menu {
  position: absolute;
  background-color: rgba(28, 28, 28);
  display: none;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 2;
}

#context-menu > div {
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

#delete-list {
  color: rgb(189, 8, 8);
}

#context-menu > div:hover {
  background-color: rgb(51, 51, 51);
}

